@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{
    --background-color: #edf2fc;
    --blue-paul:  #00f;
    --white-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* Scrool bar  */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--blue-paul);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/* Fin du scroll bar */


.container_portfolio{
    width: 100%;
    height: 100vh;
    background: var(--background-color);
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #606163;
}
nav ul li a:hover{
    color: var(--blue-paul);
}
.btn{
    background: var(--blue-paul);
    border-radius: 5px;
    padding: 10px 18px;
    text-decoration: none;
    /* position: absolute;
    right: rem; */
    color: var(--white-color);
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}
.btn:hover{
    background: transparent;
    color: var(--blue-paul);
    border: 1px solid var(--blue-paul);
}
.info{
    margin-left: 8%;
    margin-top: 10%;
}

.title__biohou{
    font-size: 20px;
    color: #444242;
}


.info .person_bio{
    font-size: 40px;
    color: #444242;
}
.description_bio{
    width: 64%;
    font-size: 30px;
    color: #444242;
}


.info .person_bio span{
   color: var(--blue-paul);
}
.info p{
    color: #606163;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.img-box:hover .back-img{
    bottom: 40px;
}
.img-box:hover .man-img{
    left: 54%;
}
.social{
    margin-left: 8%;
    margin-top: 25px;
}
.social a{
    font-size: 28px;
    color: #606163;
    margin-right: 20px;
}
.social a:hover{
    color: var(--blue-paul);
}

/* A Propos */
.about_bio{
    margin-top: 3rem;
    width: 100%;
    height: 100vh;
}

.about_bio .education .heading{
    text-align: center;
    font-size: 40px;
    padding: 2rem;
}
  
  .education .box-container {
    transform: scale(0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
  
  .education .box-container .box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    margin-left: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 3.5rem;
    padding-bottom: 3rem;
    border-left: 0.1rem solid #aaa;
    position: relative;
  }
  
  .education .box-container .box i {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    border-radius: 50%;
    background: var(--blue-paul);
    color: var(--white-color);
    text-align: center;
    position: absolute;
    top: -1rem;
    left: -2.5rem;
  }
  
  .education .box-container .box span {
    font-size: 1.7rem;
    color: var(--white-color);
    border-radius: 5rem;
    padding: .5rem 1.5rem;
    background: #000  }
  
  .education .box-container .box h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: #000;
    padding-top: 3rem;
    font-weight: normal;
  }
  
  .education .box-container .box p {
    font-size: 1.5rem;
    color: #aaa;
    line-height: 2;
  }
  
/* Portfolio */
.portfolio_bio{
    background-color: rgba(238, 238, 238, 0.664);
    margin-top: 7rem;
    width: 100%;
    /* height: 100vh; */
   
}

  .portfolio .heading, #contacts .heading{
    margin-bottom: -5rem;
    text-align: center;
    font-size: 40px;
    padding: 2rem;
    z-index: 1;
  }
  
  .portfolio .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
  
  .portfolio .box-container .box {
    height: 30rem;
    overflow: hidden;
    position: relative;
  }
  
  .portfolio .box-container .box:hover .content {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  
  .portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .portfolio .box-container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .portfolio .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: normal;
  }
  
  .portfolio .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #aaa;
  }
  
  .portfolio .box-container .box .content a {
    font-size: 2rem;
    color: var(--blue-paul);
    text-decoration: none;
  }
  
  .portfolio .box-container .box .content a:hover {
    color: var(--white-color);
  }
/* Fin du portfolio */

.arrow{
    position: fixed;
    
}


/* Contacts */
/* Formulaire */
.section-5 {
    width: 100%;
    /* height: 100vh; */
    /* margin-top: 60rem; */
    background: var(--white-color);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 5rem;
    /* bottom: 7rem; */
    box-shadow: 1rem 1rem 1rem #eee;
}

.contact-form {
    width: 50rem;
    height: 50rem;
    /* background-color: rgb(228, 228, 228); */
    /* background-color: var(--background-color); */
    border: 2rem solid var(--blue-paul);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 4rem;
    font-size: 1.2rem;
    margin: 2rem 0;
    /* background-color: var(--background-color); */
    padding: 0.5rem;
    border: 0.1rem solid var(--blue-paul);
    letter-spacing: 0.1rem;
    color: #000;
    flex-shrink: 0;
    transition: background-color 0.5s;
}

.contact-form textarea {
    max-width: 100%;
    min-width: 8rem;
}

.form-input:focus {
    background-color: rgba(255, 255, 255, 0.336);
    /* border: 0.1rem solid #00f; */
    /* background-color: red; */
}

.contact-form .form-btn {
    background-color: var(--blue-paul);
    font-weight: 600;
    letter-spacing: 0.3rem;
    color: var(--white-color);
    cursor: pointer;
}
/* fin du formulaire */
/* Fin du contacts */



/* Footer Accueil*/
.footer {
    margin-top: 2rem;
    width: 100%;
    height: 5rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0rem;
    z-index: 1000;
    text-align: center;
    /* margin-bottom: -15rem; */
    
  }
  
  .footer-content {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  
  .copyright {
    font-size: 1rem;
    color: #a7a7a7;
  }
  
  .social-list a {
    margin: 0 2rem;
  }
  
  .social-list i {
    font-size: 2rem;
    color: #a7a7a7;
  }

  .social-list i:hover{
      color: var(--blue-paul);
  }
/* Fin du footer accueil */

#contacts .heading{
   /* padding: 1rem; */
   margin-bottom: 0.1rem;
}

#accueil{
    width: 3rem;
    height: 3rem;
    z-index: 100;
    font-size: 2rem;
    border-radius: 0.3rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-paul);
    color: var(--white-color);
    cursor: pointer;
}

#accueil i{
  color: var(--white-color);
}



.other{
  width: 100%;
  /* display: flex; */
  font-size: 2rem;
  text-align: center;
}

.projects{
 position: relative;
 top: -7rem;
}